---
import pkg from '../../package.json';
import { siteResources } from '../config/siteResources';

const deploySha =
	import.meta.env.DEPLOY_COMMIT_SHA || import.meta.env.CF_PAGES_COMMIT_SHA;
const deployBranch =
	import.meta.env.DEPLOY_COMMIT_BRANCH || import.meta.env.CF_PAGES_BRANCH;
const appVersion = pkg.version;
---

<footer>
	<div class="info">
		<span class="powered-by">
			Powered by
			<a class="icon-link astro-link" href="https://astro.build/" target="_blank">
				<iconify-icon class="iconify-icon" icon="skill-icons:astro"></iconify-icon>
				<span>Astro</span>
			</a>
		</span>
		<span class="hosted-by">
			on
			<a
				class="icon-link cloudflare-link"
				href="https://pages.cloudflare.com/"
				target="_blank"
			>
				<iconify-icon class="iconify-icon" icon="skill-icons:cloudflare-dark"
				></iconify-icon>
				<span>Cloudflare Pages</span>
			</a>
		</span>
	</div>

	<div class="source-info">
		<div class="versioning-info">
			{
				deploySha && deployBranch ? (
					<a
						class="deploy-info-link"
						href={`${siteResources.repositoryUrl}/commit/${deploySha}`}
						target="_blank"
					>
						{deployBranch} @ {deploySha.slice(0, 7)}
					</a>
				) : (
					<span>LOCAL</span>
				)
			}

			<a
				href={`${siteResources.repositoryUrl}/releases/tag/v${appVersion}`}
				target="_blank"
			>
				<strong>v{appVersion}</strong>
			</a>
		</div>

		<a class="icon-link" href={siteResources.repositoryUrl} target="_blank">
			<iconify-icon class="iconify-icon" icon="skill-icons:github-dark"></iconify-icon>
			Source
		</a>
	</div>
</footer>

<style>
	footer {
		margin-top: 1rem;
		padding: 1rem;
		background-color: var(--color-a);
		color: #fff;
		display: flex;
		justify-content: space-between;
		gap: 0.5em;
		overflow-x: hidden;
	}

	.icon-link {
		--border-color: var(--color-h);
		display: inline-flex;
	}

	a:not(.icon-link) {
		color: #fff;
	}

	.powered-by,
	.hosted-by {
		display: flex;
		align-items: center;
		gap: 0.3em;
	}

	.powered-by {
		margin-right: 0.2em;
	}
	.info,
	.source-info {
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		row-gap: 0.5em;
	}

	.source-info {
		gap: 1em;
	}

	.versioning-info {
		display: flex;
		flex-direction: column;
		gap: 0.25em;
		font-size: 0.8em;

		align-items: flex-end;
	}

	.info {
		margin: 0;
		justify-content: center;
	}

	@media (max-width: 800px) {
		footer {
			text-align: center;
			flex-direction: column;
			padding: 0;
			gap: 0;
		}

		.info {
			margin-bottom: 1em;
			padding: 0 1em;
			justify-content: center;
		}

		.source-info {
			background-color: var(--color-b);
			padding: 1em;
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
			gap: 0.75em;
		}

		.versioning-info {
			align-items: flex-start;
			text-align: left;
		}
	}

	@media (max-width: 700px) {
		.info,
		.source-info {
			font-size: 0.8em;
		}
	}
</style>
